@import "./styles/reset.css";
@import "./styles/animations.css";
@import "./styles/landing.css";
@import "./styles/about.css";
@import "./styles/academics.css";
@import "./styles/academics-responsive.css";
@import "./styles/whats.css";
